@model List<BasketVM>
<section class="checkout spad mt-3">
    <div class="container">
        <div class="checkout__form">
            <form action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>First Name<span>*</span></p>
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Last Name<span>*</span></p>
                                    <input type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Country<span>*</span></p>
                            <input type="text" required>
                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" placeholder="Street Address" class="checkout__input__add" required>
                            <input type="text" placeholder="Apartment, suite, unit, etc. (optional)">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="email" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                @foreach (var item in Model)
                                {
                                    <li>@item.Name (x @item.BasketCount)<span>$@(item.Price * item.BasketCount)</span></li>
                                }

                            </ul>
                            <ul class="checkout__total__all">
                                <li>Subtotal <span class="pricespan totalPriceArea" id="subtotalArea"></span></li>
                                <li>Discount <span class="discountArea" id="discountArea">0</span></li>
                                <li>Total <span class="text-danger checkoutTotal" id="total"></span></li>
                            </ul>
                            <div class="checkout__input">
                                <p>Promo Code</p>
                                <div class="d-flex">
                                    <input type="text" id="promoInput">
                                    <button style="height:50px" id="promoAddButton">Add</button>
                                </div>
                            </div>
                            <button class="site-btn" id="placeOrder">PLACE ORDER</button>

                            @*<a href="https://buy.stripe.com/test_14k9C01myfSg1Ww4gg" style="color:white">Check</a>*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
