

@{
    ViewData["Title"] = "";
}
<hr />
<div class="row" style="margin-top: 113px;">
    <div class="col-md-4">
        <form asp-action="GenerateQRCode" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">QR</label>
                <input name="json"; type="text" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate QR Code" class="btn btn-primary text-center" />
            </div>
            <div class="form-group">

                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        </form>
    </div>
</div>
