@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_Layout";
}

<section class="login-area pt-10" style="margin: 120px 0 120px;">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Enter email address</h4>
                    <div asp-validation-summary="ModelOnly"></div>
                    <form method="post">
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email"></span>

                        </div>

                        <div class="single-form">
                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Send message to email</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>