@{
    ViewData["Title"] = "ResetPasswordVerifyEmail";
    Layout = "";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">Check your email</h3>

    </div>
</div>