@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_Layout";
}

<section class="login-area pt-10" style="margin: 120px 0 120px;">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Login to Your Account</h4>
                    <div asp-validation-summary="ModelOnly"></div>
                    <form asp-action="ResetPassword" method="post">
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="Password" placeholder="New Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword"></span>
                            <input asp-for="Token" class="form-control form-control-lg" style="visibility: hidden;">
                            <input asp-for="UserId" class="form-control form-control-lg" style="visibility: hidden;">
                        </div>

                        <div class="single-form">
                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>